@model HSA.Homework.Web.Ticket
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookRefNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookRefNavigation.BookRef)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
