@model IEnumerable<HSA.Homework.Web.Ticket>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <p>
        <a asp-action="Sync">Sync to MongoDB</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PassengerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassengerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookRefNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassengerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassengerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactData)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookRefNavigation.BookRef)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TicketNo">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TicketNo">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TicketNo">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
